<!DOCTYPE html>

<html ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>MyApp</title>
        <!-- below are elements copied automatically using file_include.py script -->
<!-- this file contains sections included during build into html head of test and static html page" -->

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

<script type="text/javascript" src="js/version.js" data-cover></script>
<script type="text/javascript" src="js/app.js" data-cover></script>
<script type="text/javascript" src="js/services.js" data-cover></script>
<script type="text/javascript" src="js/controllers.js" data-cover></script>

<link rel="stylesheet" type="text/css" href="css/styles.css" />


        <!-- above are elements copied automatically using file_include.py script -->
    </head>

    <body>
        <!-- below are elements copied automatically using file_include.py script -->
<!-- this file contains sections included during build into html body of test and static html page" -->

<div class="container" ng-controller="settingsController">
  <ul id="icons_ul">
	<li ng-repeat="lang in langs">
	  <a id="a_lang_{{lang}}" ng-click="changeLanguage(lang)"><img ng-src="pict/{{lang}}.png" /></a>
	</li>
  </ul>
</div>

<div id="content" class="container" ng-view>
</div>
        <!-- above are elements copied automatically using file_include.py script -->
    </body>
</html>
