<!--
	@file about.html
    @brief the AngularJS partial 'about'
-->

<h1>My application - {{'MAIN' | translate}}</h1>
<div ng-controller="conway" id="main-div">
  <h1>{{'GAME_LABEL' | translate}}</h1>
  <table id="game-grid">
    <tr ng-repeat = "row in grid">
      <th ng-repeat = "node in row track by $index"
          ng-click = "negateElement($index, $parent.$index)"
          class="box"
          ng-class="{alive: node, dead: !node}"
      ></th>
      </th>
    </tr>
  </table>
  <button class="button" ng-click="resetGrid()">Reset</button>
  <button class="button" ng-click="evolvebtn()">Evolve</button>
</div>
