<!--
	@file about.html
    @brief the AngularJS partial 'about'
-->

<h1>My application - {{'MAIN' | translate}}</h1>
<div ng-controller="conway" id="main-div">
  <h1 id="gameLabel">{{'GAME_LABEL' | translate}}</h1>
  <table id="game-grid">
    <tr ng-repeat = "row in grid">
      <th ng-repeat = "node in row track by $index"
          ng-click = "negateElement($index, $parent.$index)"
          class="box"
          ng-class="{alive: node, dead: !node}"
      ></th>
      </th>
    </tr>
  </table>
  <p id="generationCountParagraph">{{'GENERATION' | translate}}: {{generation}}</p>
  <button ng-hide="simulationIsOn"  class="button" id="resetBtn" ng-click="resetGrid()">Reset</button>
  <button ng-hide="simulationIsOn"  class="button" id="evolveBtn" ng-click="evolve()">{{'EVOLVE' | translate}}</button>
  <button ng-hide="simulationIsOn"  class="button" id="startBtn" ng-click="startSimulation()">{{'SIMSTART' | translate}}</button>
  <button ng-hide="!simulationIsOn" class="button" id="stopBtn" ng-click="stopSimulation()">{{'SIMSTOP' | translate}}</button>
  <br/>
  <div ng-hide="simulationIsOn">
    <p id="threadCountParagraph">{{'THREADS' | translate}}:</p>
    <label><input type="radio" ng-model="threads" value="1">1</label>
    <label><input type="radio" ng-model="threads" value="2">2</label>
    <label><input type="radio" ng-model="threads" value="4">4</label>
    <label><input type="radio" ng-model="threads" value="8">8</label>
  </div> 
</div>
